**/build/
**/nbproject/
**/build.xml
**/manifest.mf 
**dist/
**META-INF/
**conf/

**/*.exe
**/*.o
**/*.class
**/*.A
**/*.a
**/*.cpu
**/*.CPU
**/*.yy.c
**/*.tab.c
**/*.output
**/*.tab.h

**/.*
**/_*
!.gitignore